{% extends "copy_admin/base_site.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}


{% block extrahead %}{{ block.super }}
{{ form.media }} 
<script type="text/javascript" src='{% static "js/utilities.js" %}'></script> 
{% endblock %}



{% block content %}<div id="content-main">

<h1>{% trans "Listing Client from" %} {{ listingClient_startDate }} {% trans "to" %} {{ listingClient_endDate }}</h1>
<a href="?format=pdf">Export as pdf</a>

<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="column-__str__">   
   <div class="text"><span>{% trans "Code" %}</span></div>
   <div class="clear"></div>
</th>

<th scope="col"  class="column-__str__">   
   <div class="text"><span>{% trans "Client" %}</span></div>
   <div class="clear"></div>
</th>

<th scope="col"  class="column-__str__">   
   <div class="text"><span>{% trans "Items" %}</span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>

{% for order in listingClient_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <th><a href="javascript:openInPopup('{% url 'comedi:order_detail' order.order_id %}','Order detail');">{{ order.order_code }}</a></th>
      <th><a href="javascript:openInPopup('{% url 'comedi:client_detail' order.client_id %}','Client detail');">{{ order.client_name }}</a></th>
      <th>{{ order.nbOfItems }}</th>
    </tr>
{% empty %}
    <li>{% trans "No Listing Client matching the criteria." %}</li>
{% endfor %}

</tbody>
</table>
</div>
<p><p>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</ul>

{% endblock %}
</div>




