{% extends "copy_admin/base_site.html" %}
{% load static %}
{% load staticfiles %}

{% block extrahead %}{{ block.super }}
{{ form.media }} 
{% endblock %}




{% block content %}<div id="content-main">
<h1>Order</h1>

<fieldset class="module aligned ">

  {% include "comedi/order/order_attribute.html" with key="Code:" value=order.code %}

  {% include "comedi/order/order_attribute.html" with key="Client:" value=order.client %}
  
  {% include "comedi/order/order_attribute.html" with key="Comment:" value=order.comment %}
  
  {% include "comedi/order/order_attribute.html" with key="Deposit:" value=order.deposit %}
  
  {% include "comedi/order/order_attribute.html" with key="Order date:" value=order.order_date %}

  {% include "comedi/order/order_attribute.html" with key="Pickup date:" value=order.pickup_date %}
  
  {% include "comedi/order/order_attribute.html" with key="Seller:" value=order.seller %}

  {% include "comedi/order/order_attribute.html" with key="Period:" value=order.period %}

  {% include "comedi/order/order_attribute.html" with key="Valid:" value=order.valid %}

  {% include "comedi/order/order_attribute.html" with key="Prepared:" value=order.prepared %}
 
  {% include "comedi/order/order_attribute.html" with key="Modified:" value=order.modified %}
 
</fieldset>


<div class="inline-group" id="orderitem_set-group">
  <h2>Order Items</h2>
    {% for orderItem in order.orderitem_set.all %}
      <fieldset class="module aligned ">
        {% include "comedi/order/order_attribute.html" with key="Product:" value=orderItem.product %}
        {% include "comedi/order/order_attribute.html" with key="Unit:" value=orderItem.unit %}
        {% include "comedi/order/order_attribute.html" with key="Quantity:" value=orderItem.quantity %}
        {% include "comedi/order/order_attribute.html" with key="Comment:" value=orderItem.usualComment %}
        {% include "comedi/order/order_attribute.html" with key="Extra comment:" value=orderItem.extraComment %}
      </fieldset>
	{% empty %}
	    <li>No articles yet.</li>
	{% endfor %}
	
</div>

{% endblock %}

</div>




