{% extends "copy_admin/base_site.html" %}
{% load static %}
{% load staticfiles %}

{% block extrahead %}{{ block.super }}
{{ form.media }} 
{% endblock %}




{% block content %}<div id="content-main">
<h1>Order</h1>

<fieldset class="module aligned ">
  {% include "comedi/utilities/object_detail_item.html" with key="Code" value=order.code %}
  {% include "comedi/utilities/object_detail_item.html" with key="Client" value=order.client %}
  {% include "comedi/utilities/object_detail_item.html" with key="Comment" value=order.comment %}
  {% include "comedi/utilities/object_detail_item.html" with key="Deposit" value=order.deposit %}
  {% include "comedi/utilities/object_detail_item.html" with key="Order date" value=order.order_date %}
  {% include "comedi/utilities/object_detail_item.html" with key="Pickup date" value=order.pickup_date %}
  {% include "comedi/utilities/object_detail_item.html" with key="Seller" value=order.seller %}
  {% include "comedi/utilities/object_detail_item.html" with key="Period" value=order.period %}
  {% include "comedi/utilities/object_detail_item.html" with key="Valid" value=order.valid %}
  {% include "comedi/utilities/object_detail_item.html" with key="Prepared" value=order.prepared %}
  {% include "comedi/utilities/object_detail_item.html" with key="Modified" value=order.modified %} 
</fieldset>


<div class="inline-group" id="orderitem_set-group">
  <h2>Order Items</h2>
    {% for orderItem in order.orderitem_set.all %}
      <fieldset class="module aligned ">
        {% include "comedi/utilities/object_detail_item.html" with key="Product" value=orderItem.product %}
        {% include "comedi/utilities/object_detail_item.html" with key="Unit" value=orderItem.unit %}
        {% include "comedi/utilities/object_detail_item.html" with key="Quantity" value=orderItem.quantity %}
        {% include "comedi/utilities/object_detail_item.html" with key="Comment" value=orderItem.usualComment %}
        {% include "comedi/utilities/object_detail_item.html" with key="Extra comment" value=orderItem.extraComment %}
      </fieldset>
	{% empty %}
	    <li>No articles yet.</li>
	{% endfor %}
	
</div>

{% endblock %}

</div>




