{% extends "copy_admin/base_site.html" %}
{% load static %}
{% load staticfiles %}

{% block extrahead %}{{ block.super }}
{{ form.media }} 
{% endblock %}




{% block content %}<div id="content-main">

<form action="{% url 'comedi:order_list' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />

</form>


<script type="text/javascript">
$("#id_clients").change(function() {
    var client = $("option:selected",this).text();
    $('#id_client').val(client);
});

$(function() {
  $("#id_client").autocomplete({
    source: "{% url 'comedi:ajax_clientAutocomplete' %}",
    minLength: 2,
    selectFirst:true,
    select:function(event,ui) {
       $("#id_client").val(ui.item.id)
     }    
  });
});
</script>

{% endblock %}
</div>

